  <!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org" >
  <head th:replace="fragments :: head" ></head>
  <body>
    <div class="container-lg">
      <div th:replace="fragments :: header"></div>
      <h3>Login</h3>
      <div th:if="${param.error}" class="login-error">Wrong username or password</div>
      <div th:if="${param.logout}" class="login-success">You have successfully logged out.</div>
      <form method="post" th:action="@{/login}">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="username" th:text="#{msg.username}"></label>
            <input id="username" type="text" name="username" class="form-control" />
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="password" th:text="#{msg.password}"></label>
            <input id="password" type="password" name="password" class="form-control" />
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <input type="submit" value="Login" class="form-control btn btn-primary" />
          </div>
        </div>
      </form>
    </div>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
  </body>
  </html>